.playerCamps {
  height: 80px;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 400px) {
  .playerCamps {
    height: 100px;
  }
}

@media (min-width: 600px) {
  .playerCamps {
    height: 120px;
  }
}
