.camp {
  margin: 10px auto;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: inset 0 0 20px #111, 0 0 20px #000;
  cursor: pointer;

  &Icon {
    height: 60px;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cd7f32;
  }

  &Stats {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
  }

  &Attack {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff5733;
  }

  &Defence {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4db8c8;
  }

  .campStatIcon {
    font-size: 10px;
  }

  .campStat {
    margin-left: 2px;
    font-size: 12px;
  }
}

.blueCamp {
  color: #2b3b55;
  background-color: #2b3b55;
  box-shadow: inset 0 0 10px #111, 0 0 10px #000;
}

.redCamp {
  color: #552b2b;
  background-color: #552b2b;
  box-shadow: inset 0 0 10px #111, 0 0 10px #000;
}

.activeCamp {
  transform: scale(1.02);
  filter: brightness(1.3);
}

@media (min-width: 400px) {
  .camp {
    &Icon {
      height: 72px;
    }
  }
}

@media (min-width: 600px) {
  .camp {
    &Icon {
      height: 84px;
      font-size: 40px;
    }

    .campStatIcon {
      font-size: 1em;
    }

    .campStat {
      margin-left: 10px;
      font-size: 1em;
    }
  }
}
