.game {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: #9ded89;
  font-family: 'Lato', sans-serif;

  .hideInactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: gray;
    height: 45%;
    z-index: 2;
  }
}

.playerOneTurn {
  flex-direction: column-reverse;
}

.playerTwoTurn {
  flex-direction: column;
}
