.settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;

  .rulesIcon,
  .settingsIcon {
    padding: 6px;
    border-radius: 50%;
    font-size: 2em;
    background-color: #DAA520;
    background-color: rgba(39, 78, 19, 0.4);
    color: #B0C4DE;
    cursor: pointer;
  }
}
