*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
}

body {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  background-image: linear-gradient(145deg, rgba(60, 60, 60, 0.6) 40%, transparent 40%),
    linear-gradient(325deg, rgba(70, 70, 70, 0.6) 40%, transparent 40%);
  background-size: 200px 200px;
  background-position: 0 0, 100px 100px;
  box-shadow: inset 0 0 15px #222, 0 0 15px #222;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: column-reverse;
}

.player-inactive {
  flex-direction: column;
}

.player .camp {
  flex-direction: column-reverse;
  margin: -10px auto;
}

.player-inactive.player .camp {
  flex-direction: column;
  margin: 10px auto;
}

@media (min-width: 750px) {
  .container {
    width: 650px;
    height: 800px;
    overflow: auto;
    box-shadow: 0 0 3px 3px #111;
  }
}
